@font-face {
	font-family: 'Days'; 
	src: url("./fonts/days/days.ttf"); 
}

@font-face {
	font-family: 'Bicubik'; 
	src: url("./fonts/bicubik/bicubik.ttf"); 
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-family: 'Bicubik'; 
}

.container {
    max-width: 390px;
    background-image: url(images/background.PNG);
    background-size: 100%;
    text-align: center;
    color: white;
}

.header {
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.main {
    margin-top: 40px;
}

.balance {
    text-align:center;
    margin: auto;
    display: block;
    width: 250px;
    background-image: url(images/balance.PNG);
    background-size: 100% 100%;
    padding: 10px;
    padding-left: 50px;
    font-size: 35px;
    font-family: 'Days';
    color: rgb(108,223,233);
}

.coin {
    position: absolute;
    margin-left: -40px;
    width: 40px;
    height: 40px;
}

.clame-button {
    margin: auto;
    display: block;
    width: 70%;
    margin-top: 25px;
}

.ref-link-panel {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1px 15px 1px 25px;
    width: 90%;
    height: 125px;
    margin-bottom: 10px;
    background-image: url(images/referal_panel.PNG);
    background-size: 100% 100%;
    font-family: 'Days';
}

.ref-link-copy {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.ref-link-text {
    flex-grow: 0.75;
    width: 70%;
    height: 30px;
    margin: 10px;
    word-wrap: break-word;
    font-size: 13px;
}

.ref-count-text {
    flex-grow: 2;
    height: 25%;
    margin: 10px;
    word-wrap: break-word;
    font-size: 25px;
}

.ref-balance-text {
    flex-grow: 2.15;
    height: 25%;
    margin: 10px;
    word-wrap: break-word;
    font-size: 25px;
}